/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    background: url('/img/scouts-Hor.png') no-repeat center center;
    background-size: cover;
    color: white; /* Adjust text color if necessary */

}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.features {
    margin-top: 2rem;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.col--3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col--9 {
    flex: 0 0 75%;
    max-width: 75%;
}

aside {
    background-color: #f4f4f4; /* Light gray background for the sidebar */
    padding: 15px;
    border-right: 1px solid #ddd; /* Border to separate the sidebar */
    height: 100%;
}

main {
    padding-left: 20px; /* Add some padding to the main content area */
}

.search-bar {
    display: flex;
    align-items: center;
}

    .search-bar input {
        padding: 5px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .search-bar button {
        margin-left: 10px;
        padding: 5px 10px;
        font-size: 1rem;
        cursor: pointer;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 4px;
    }

        .search-bar button:hover {
            background-color: #0056b3;
        }

